Health_Camp_Detail.csv – File containing Health_Camp_Id, Camp_Start_Date, Camp_End_Date and Category details of each camp.

Train.csv – File containing registration details for all the test camps. This includes Patient_ID, Health_Camp_ID, Registration_Date and a few anonymized variables as on registration date.

Patient_Profile.csv – This file contains Patient profile details like Patient_ID, Online_Follower, Social media details, Income, Education, Age, First_Interaction_Date, City_Type and Employer_Category

First_Health_Camp_Attended.csv – This file contains details about people who attended health camp of first format. This includes Donation (amount) & Health_Score of the person.

Second_Health_Camp_Attended.csv - This file contains details about people who attended health camp of second format. This includes Health_Score of the person.

Third_Health_Camp_Attended.csv - This file contains details about people who attended health camp of third format. This includes Number_of_stall_visited & Last_Stall_Visited_Number.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
train = pd.read_csv('Train.csv')
fhc = pd.read_csv('First_Health_Camp_Attended.csv')
shc = pd.read_csv('Second_Health_Camp_Attended.csv')
thc = pd.read_csv('Third_Health_Camp_Attended.csv')

hc = pd.read_csv('Health_Camp_Detail.csv')
pp = pd.read_csv('Patient_Profile.csv')

test = pd.read_csv('test_l0Auv8Q.csv')
train.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5'],
      dtype='object')

In [3]:
# combine all datasets and make one one train set

combined = pd.concat([train,test],ignore_index=True)
combined = pd.merge(combined,pp,on=['Patient_ID'],how = 'left')

combined = pd.merge(combined,fhc,on=['Patient_ID','Health_Camp_ID'],how = 'left')

combined = pd.merge(combined,shc,on=['Patient_ID','Health_Camp_ID'],how = 'left')

combined = pd.merge(combined,thc,on=['Patient_ID','Health_Camp_ID'],how = 'left')

combined = pd.merge(combined,hc,on=['Health_Camp_ID'],how = 'left')

In [4]:
combined.shape

(110527, 29)

In [5]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,...,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3
0,489652,6578,10-Sep-05,4,0,0,0,2,0,0,...,NaN,NaN,NaN,2.0,1.0,16-Aug-05,14-Oct-05,Third,G,2
1,507246,6578,18-Aug-05,45,5,0,0,7,0,0,...,NaN,NaN,NaN,NaN,NaN,16-Aug-05,14-Oct-05,Third,G,2
2,523729,6534,29-Apr-06,0,0,0,0,0,0,0,...,NaN,NaN,0.402054,NaN,NaN,17-Oct-05,07-Nov-07,Second,A,2
3,524931,6535,07-Feb-04,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,01-Feb-04,18-Feb-04,First,E,2
4,521364,6529,28-Feb-06,15,1,0,0,7,0,0,...,NaN,NaN,0.845597,NaN,NaN,30-Mar-06,03-Apr-06,Second,A,2

In [6]:
combined.Registration_Date = pd.to_datetime(
    combined.Registration_Date,dayfirst=True)

combined.First_Interaction = pd.to_datetime(
    combined.First_Interaction,dayfirst=True)

In [7]:
combined.Camp_Start_Date = pd.to_datetime(
    combined.Camp_Start_Date,dayfirst=True)

combined.Camp_End_Date = pd.to_datetime(
    combined.Camp_End_Date,dayfirst=True)

In [8]:
combined.dtypes

Patient_ID                            int64
Health_Camp_ID                        int64
Registration_Date            datetime64[ns]
Var1                                  int64
Var2                                  int64
Var3                                  int64
Var4                                  int64
Var5                                  int64
Online_Follower                       int64
LinkedIn_Shared                       int64
Twitter_Shared                        int64
Facebook_Shared                       int64
Income                               object
Education_Score                      object
Age                                  object
First_Interaction            datetime64[ns]
City_Type                            object
Employer_Category                    object
Donation                            float64
Health_Score                        float64
Unnamed: 4                          float64
Health Score                        float64
Number_of_stall_visited             float64
Last_Stall_Visited_Number           float64
Camp_Start_Date              datetime64[ns]
Camp_End_Date                datetime64[ns]
Category1                            object
Category2                            object
Category3                             int64
dtype: object

In [9]:
combined['days_before_int'] = combined.Registration_Date - combined.First_Interaction

In [10]:
combined.days_before_int = combined.days_before_int.dt.days

In [11]:
combined['Camp_Duration'] = combined.Camp_End_Date - combined.Camp_Start_Date

In [12]:
combined.Camp_Duration = combined.Camp_Duration.dt.days

In [13]:
combined['Reg_Camp_Start'] = (combined.Registration_Date - combined.Camp_Start_Date).dt.days

In [14]:
combined['Reg_Camp_End'] = (combined.Registration_Date - combined.Camp_End_Date).dt.days

In [15]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,...,Last_Stall_Visited_Number,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,days_before_int,Camp_Duration,Reg_Camp_Start,Reg_Camp_End
0,489652,6578,2005-09-10,4,0,0,0,2,0,0,...,1.0,2005-08-16,2005-10-14,Third,G,2,278.0,59,25.0,-34.0
1,507246,6578,2005-08-18,45,5,0,0,7,0,0,...,NaN,2005-08-16,2005-10-14,Third,G,2,344.0,59,2.0,-57.0
2,523729,6534,2006-04-29,0,0,0,0,0,0,0,...,NaN,2005-10-17,2007-11-07,Second,A,2,676.0,751,194.0,-557.0
3,524931,6535,2004-02-07,0,0,0,0,0,0,0,...,NaN,2004-02-01,2004-02-18,First,E,2,0.0,17,6.0,-11.0
4,521364,6529,2006-02-28,15,1,0,0,7,0,0,...,NaN,2006-03-30,2006-04-03,Second,A,2,970.0,4,-30.0,-34.0

In [16]:
combined['Reg_Date'] = combined.Registration_Date.dt.day
combined['Reg_Month'] = combined.Registration_Date.dt.month
combined['Reg_Year'] = combined.Registration_Date.dt.year

In [17]:
combined['PP_Day'] = combined.groupby(['Patient_ID'])['Reg_Date'].transform('nunique')

combined['PP_Month'] = combined.groupby(['Patient_ID'])['Reg_Month'].transform('nunique')

combined['PP_Year'] = combined.groupby(['Patient_ID'])['Reg_Year'].transform('nunique')

In [18]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Online_Follower,LinkedIn_Shared,...,days_before_int,Camp_Duration,Reg_Camp_Start,Reg_Camp_End,Reg_Date,Reg_Month,Reg_Year,PP_Day,PP_Month,PP_Year
0,489652,6578,2005-09-10,4,0,0,0,2,0,0,...,278.0,59,25.0,-34.0,10.0,9.0,2005.0,9,7,3
1,507246,6578,2005-08-18,45,5,0,0,7,0,0,...,344.0,59,2.0,-57.0,18.0,8.0,2005.0,16,12,4
2,523729,6534,2006-04-29,0,0,0,0,0,0,0,...,676.0,751,194.0,-557.0,29.0,4.0,2006.0,5,4,2
3,524931,6535,2004-02-07,0,0,0,0,0,0,0,...,0.0,17,6.0,-11.0,7.0,2.0,2004.0,4,4,3
4,521364,6529,2006-02-28,15,1,0,0,7,0,0,...,970.0,4,-30.0,-34.0,28.0,2.0,2006.0,17,9,4

In [19]:
combined['PP_HealthCamp'] = combined.groupby(['Health_Camp_ID'])['Patient_ID'].transform('nunique')

In [20]:
combined['First_Interaction_Year'] = combined.First_Interaction.dt.year
combined['Camp_Start_year'] = combined.Camp_Start_Date.dt.year
combined['Camp_End_year'] = combined.Camp_End_Date.dt.year

In [21]:
mapped = {'First':1,'Second':2,'Third':3}

combined['Category1'] = combined.Category1.map(mapped)

In [22]:
combined['Category2'] = pd.factorize(combined['Category2'])[0]

In [23]:
combined.Category1

0         3
1         3
2         2
3         1
4         2
         ..
110522    1
110523    2
110524    2
110525    2
110526    2
Name: Category1, Length: 110527, dtype: int64

In [24]:
combined.loc[combined.Employer_Category.isnull(),'Employer_Category'] =\
combined.Employer_Category.mode()[0]

In [25]:
combined['Employer_Category'] = pd.factorize(combined.Employer_Category)[0]

In [26]:
combined['City_Type'] = pd.factorize(combined.City_Type)[0]

In [27]:
# Repalce Income, Age and Edu Score from None to np.nan

combined["Income"].replace(to_replace = "None", 
                          value = np.NaN, inplace = True)

combined["Education_Score"].replace(to_replace = "None", 
                          value = np.NaN, inplace = True)

combined["Age"].replace(to_replace = "None", 
                          value = np.NaN, inplace = True)

In [28]:
combined['Online_Activity'] = combined.Online_Follower +\
combined.LinkedIn_Shared + combined.Twitter_Shared + combined.Facebook_Shared

In [29]:
combined.drop([ 'Online_Follower', 'LinkedIn_Shared',
       'Twitter_Shared', 'Facebook_Shared','Unnamed: 4','Donation'],axis=1\
             ,inplace=True)

In [30]:
def tgt(a, b, c, d):
    if((a>0) | (b>0) | (c>0) | (d>0)):
        return(1)
    else:
        return(0)

In [31]:
combined["target"] = combined.apply(lambda x:tgt(x['Health_Score'],
                           x['Health Score'],
                           x['Number_of_stall_visited'],
                           x['Last_Stall_Visited_Number']),
              axis = 1)

In [32]:
combined.drop(["Health_Score", "Health Score", 
               "Number_of_stall_visited",
              "Last_Stall_Visited_Number"], axis = 1, inplace = True)

In [33]:
# Impute -999 in the missing value...

combined.loc[combined.Income.isnull(), "Income"] = -999
combined.loc[combined.Education_Score.isnull(), 
             "Education_Score"] = -999
combined.loc[combined.Age.isnull(), 
             "Age"] = -999

In [34]:
combined.isnull().sum()[combined.isnull().sum()!=0]

Registration_Date    334
days_before_int      334
Reg_Camp_Start       334
Reg_Camp_End         334
Reg_Date             334
Reg_Month            334
Reg_Year             334
dtype: int64

In [35]:
combined.loc[combined.days_before_int.isnull(), 
             'days_before_int']= combined.days_before_int.median()

combined.loc[combined.Reg_Camp_Start.isnull(), 
             'Reg_Camp_Start']= combined.Reg_Camp_Start.median()

combined.loc[combined.Reg_Camp_End.isnull(), 
             'Reg_Camp_End']= combined.Reg_Camp_End.median()

combined.loc[combined.Reg_Date.isnull(), 
             'Reg_Date']= combined.Reg_Date.median()

combined.loc[combined.Reg_Month.isnull(), 
             'Reg_Month']= combined.Reg_Month.median()

combined.loc[combined.Reg_Year.isnull(), 
             'Reg_Year']= combined.Reg_Year.median()

In [36]:
combined.drop(["Patient_ID", "Health_Camp_ID", 
              "Registration_Date", "First_Interaction",
              "Camp_Start_Date", "Camp_End_Date"], axis = 1,
             inplace = True)

In [37]:
# train and test
newtrain = combined.loc[0:train.shape[0]-1, :]
newtest = combined.loc[train.shape[0]:, :]

newtest.drop("target", axis = 1, inplace = True)

C:\Users\USER\AppData\Local\Temp\ipykernel_10132\4274947927.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newtest.drop("target", axis = 1, inplace = True)

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import cohen_kappa_score,accuracy_score,roc_auc_score
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier,StackingClassifier,VotingClassifier
from xgboost import XGBClassifier

In [39]:
# Model
log = LogisticRegression()
knn = KNeighborsClassifier()
gnb = GaussianNB()
dtree = DecisionTreeClassifier()

X = newtrain.drop("target", axis = 1)
y = newtrain.target

# Prediction
pred_lg = log.fit(X, y).predict_proba(newtest)
pred_knn = knn.fit(X, y).predict_proba(newtest)
pred_gnb = gnb.fit(X, y).predict_proba(newtest)

pd.DataFrame(pred_knn, columns = ["Zero", "One"])["One"]
pred = dtree.fit(X, y).predict_proba(newtest)

pred_tree = pd.DataFrame(pred, columns = ["Zero", "One"])["One"]

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [40]:
# Prepare the SUbmission File...

submission = pd.DataFrame({"Patient_ID": test.Patient_ID,
                          "Health_Camp_ID":test.Health_Camp_ID,
                          "Outcome":pred_tree})

submission.to_csv("NayawalaDtree.csv", index = False) # 0.630

### Validation of Model:

In [41]:
x = newtrain.drop(columns='target')
y = newtrain['target']

trainx,testx,trainy,testy = train_test_split(x,y,train_size=0.80,random_state=20)

In [42]:
x

,Var1,Var2,Var3,Var4,Var5,Income,Education_Score,Age,City_Type,Employer_Category,...,Reg_Month,Reg_Year,PP_Day,PP_Month,PP_Year,PP_HealthCamp,First_Interaction_Year,Camp_Start_year,Camp_End_year,Online_Activity
0,4,0,0,0,2,-999,-999,-999,-1,0,...,9.0,2005.0,9,7,3,2837,2004,2005,2005,0
1,45,5,0,0,7,1,75,40,0,1,...,8.0,2005.0,16,12,4,2837,2004,2005,2005,0
2,0,0,0,0,0,-999,-999,-999,-1,0,...,4.0,2006.0,5,4,2,3597,2004,2005,2007,0
3,0,0,0,0,0,-999,-999,-999,1,0,...,2.0,2004.0,4,4,3,1882,2004,2004,2004,0
4,15,1,0,0,7,1,70,40,1,0,...,2.0,2006.0,17,9,4,3823,2003,2006,2006,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,0,0,0,0,0,-999,-999,-999,-1,0,...,1.0,2005.0,7,8,3,1992,2004,2004,2005,0
75274,0,0,0,0,0,3,73,51,1,12,...,2.0,2006.0,19,10,3,1744,2004,2006,2006,3
75275,0,0,0,0,0,1,92,37,6,3,...,5.0,2005.0,5,4,2,2303,2005,2005,2005,0
75276,0,0,0,0,0,3,76,44,5,0,...,12.0,2004.0,8,6,4,3517,2004,2004,2005,0
75277,0,0,0,0,0,-999,-999,-999,-1,0,...,8.0,2005.0,3,1,1,1738,2005,2005,2005,0

In [43]:
x.Age.unique()

array([-999, '40', '50', '41', '72', '51', '42', '44', '46', '39', '43',
       '38', '74', '71', '52', '53', '47', '73', '48', '49', '45', '56',
       '63', '37', '36', '57', '35', '60', '70', '64', '54', '55', '59',
       '33', '34', '58', '62', '80', '66', '61', '65', '31', '69', '75',
       '76', '68', '67', '77', '32', '78'], dtype=object)

In [44]:
perf_table = pd.DataFrame(columns=['Model','Data','Accuracy','ROC_AUC_Score'])
def model_perf(name,data,model,trainx,trainy,testx,testy):
    m = model
    m.fit(trainx,trainy)
    ypred = m.predict(testx)
    prob = m.predict_proba(testx)[:,1]
    a = roc_auc_score(testy,prob)
    b = accuracy_score(testy,ypred)
    
    global perf_table
    perf_table = perf_table.append({'Model':name,
                                    'Data':data,
                                    'Accuracy':b,
                                    'ROC_AUC_Score':a},
                                   ignore_index = True)

In [45]:
model_perf(name='Random Forest',data='Train',model=RandomForestClassifier(n_estimators=200,max_depth=5),
          trainx=trainx,trainy=trainy,testx=trainx,testy=trainy)

C:\Users\USER\AppData\Local\Temp\ipykernel_10132\2987205566.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  perf_table = perf_table.append({'Model':name,

In [46]:
import warnings
warnings.filterwarnings('ignore')

In [47]:
model_perf(name='Random Forest',data='Test',model=RandomForestClassifier(n_estimators=200,max_depth=5),
          trainx=trainx,trainy=trainy,testx=testx,testy=testy)

In [48]:
model_perf(name='Log-reg',data='Train',model=LogisticRegression(),
          trainx=trainx,trainy=trainy,testx=trainx,testy=trainy)

In [49]:
model_perf(name='Log-reg',data='Test',model=LogisticRegression(),
          trainx=trainx,trainy=trainy,testx=testx,testy=testy)

In [50]:
model_perf(name='Gradient Boosting',data='Train',model=GradientBoostingClassifier(max_depth=8,n_estimators=500),
          trainx=trainx,trainy=trainy,testx=trainx,testy=trainy)

In [51]:
model_perf(name='Gradient Boosting',data='Test',model=GradientBoostingClassifier(max_depth=8,n_estimators=500),
          trainx=trainx,trainy=trainy,testx=testx,testy=testy)

In [52]:
model_perf(name='Decision Tree',data='Train',model=DecisionTreeClassifier(max_depth=5),
          trainx=trainx,trainy=trainy,testx=trainx,testy=trainy)

In [53]:
model_perf(name='Decision Tree',data='Test',model=DecisionTreeClassifier(max_depth=5),
          trainx=trainx,trainy=trainy,testx=testx,testy=testy)

In [54]:
model_perf(name='Naive-Bayes',data='Train',model=GaussianNB(),
          trainx=trainx,trainy=trainy,testx=trainx,testy=trainy)

In [55]:
model_perf(name='Naive-Bayes',data='Test',model=GaussianNB(),
          trainx=trainx,trainy=trainy,testx=testx,testy=testy)


## Stacking algorithm
base_estimators = [('Gradient Boosting',GradientBoostingClassifier(n_estimators=300,max_depth=5)),
                  ('Decision Tree',DecisionTreeClassifier(max_depth=5)),
                  ('Random Forest',RandomForestClassifier(n_estimators=500,max_depth=8))]
final_estimator =LogisticRegression()
model_perf(name='Statacking' ,data='Train',model=
           StackingClassifier(estimators=base_estimators,\
                              final_estimator=final_estimator),
           trainx=trainx,trainy=trainy,
                 testx=trainx,testy=trainy)


## Stacking algorithm
base_estimators = [('Gradient Boosting',GradientBoostingClassifier(n_estimators=300,max_depth=5)),
                  ('Decision Tree',DecisionTreeClassifier(max_depth=5)),
                  ('Random Forest',RandomForestClassifier(n_estimators=500,max_depth=8))]
final_estimator =LogisticRegression()
model_perf(name='Statacking' ,data='Test',model=
           StackingClassifier(estimators=base_estimators,\
                              final_estimator=final_estimator),
           trainx=trainx,trainy=trainy,
                 testx=testx,testy=testy)

In [56]:
perf_table

               Model   Data  Accuracy  ROC_AUC_Score
0      Random Forest  Train  0.819136       0.849684
1      Random Forest   Test  0.816020       0.848027
2            Log-reg  Train  0.729019       0.655215
3            Log-reg   Test  0.724960       0.655681
4  Gradient Boosting  Train  0.826276       0.867856
5  Gradient Boosting   Test  0.840595       0.894029
6      Decision Tree  Train  0.820448       0.848480
7      Decision Tree   Test  0.819009       0.854343
8        Naive-Bayes  Train  0.749477       0.754648
9        Naive-Bayes   Test  0.747210       0.754340

In [173]:
perf_table

                Model   Data  Accuracy  ROC_AUC_Score
0       Random Forest  Train  0.819152       0.849463
1       Random Forest   Test  0.815090       0.847212
2             Log-reg  Train  0.729019       0.655215
3             Log-reg   Test  0.724960       0.655681
4   Gradient Boosting  Train  0.826276       0.867856
5   Gradient Boosting   Test  0.823592       0.867131
6       Decision Tree  Train  0.820448       0.848480
7       Decision Tree   Test  0.815887       0.846867
8         Naive-Bayes  Train  0.749477       0.754648
9         Naive-Bayes   Test  0.747210       0.754340
10  Gradient Boosting   Test  0.829902       0.881559
11      Decision Tree  Train  0.820448       0.848480
12      Decision Tree   Test  0.819009       0.854343
13  Gradient Boosting   Test  0.838536       0.891240
14  Gradient Boosting   Test  0.841525       0.893332
15         Statacking  Train  0.855368       0.908233
16         Statacking   Test  0.829370       0.881550

In [57]:
gbm = GradientBoostingClassifier(max_depth=8,n_estimators=500)
gbm.fit(x,y)
pred = gbm.predict_proba(newtest)[:,1]

In [58]:
submission = pd.DataFrame({"Patient_ID": test.Patient_ID,
                          "Health_Camp_ID":test.Health_Camp_ID,
                          "Outcome":pred})

submission.to_csv("Gradient1.csv", index = False)

In [74]:
gbm = GradientBoostingClassifier()
gbm.fit(x,y)
pred = gbm.predict_proba(newtest)[:,1]

submission = pd.DataFrame({"Patient_ID": test.Patient_ID,
                          "Health_Camp_ID":test.Health_Camp_ID,
                          "Outcome":pred})

submission.to_csv("gbm.csv", index = False)

### Finally Ranked 17 score 0.834228171066363 private score 0.773544033706283

## END.....